.searchipt {
    background-color: aqua;
    color: white;
    margin-left: 452px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-Top: 20px;
    padding-Left: 88px;
    font-size: 30px;
   border-color: white;
   border-radius: 10px;
  
}